@charset "UTF-8";
/* CSS Document */

<style>
html, body{
	margin: 0;
	padding: 0;
	height: 100%; 
  background: white;
}

body{
	font-family: arial, sans-serif;
	font-size: 1.0em;
}

#wrapper {
  width: 75%;
  margin: 20px auto;
}

#popup {
        position: absolute;
        height: 200px;
        width: 400px;
        margin: -100px -60px -40px -200px;
        top: 50%;
        left: 50%;
	text-align: center;
	vertical-align: middle;
}

section{
  width: 35px;
  height: 40px;
  padding: 5px;
  background: white;
  border-style: solid;
  border-color: black;  
  border-width: 1px 1px 1px 1px;
  color: #333;
  text-align: center;

  display: inline-block;
  margin-right: 2px;
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: 1.5em;
  background: white;


}

input[type=text]{
  width: 35px;
  height: 40px;
  padding: 5px;
  background: white;
  border-style: solid;
  border-color: black;  
  border-width: 1px 1px 1px 1px;
  color: #333;
  text-align: center;
  display: inline-block;
  margin-right: 2px;
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: 1.5em;
}

input[type=text]:focus{
  box-shadow: 0px 0px 5px blue; 
  border: 1px solid black;
}

input[type=submit]{
    background-color: blue; 
	width: 120px;
	height: 40px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.25em;
    border-radius: 4px;
}

table {table-layout:fixed;}
td {width:33%}

}
</style>
